<form *ngIf="gameForm" [formGroup]="gameForm" (ngSubmit) = "onSubmitForm()"> 
    <div>
        <label for="title">Título</label><br>
        <input id="title"  formControlName="title" required>

        <!-- <mat-form-field [formControl]="this.titleControl" appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput formControlName="title">
          </mat-form-field> -->
    </div>

    <div>
        <label for="date">Data</label><br>
        <input id="date" type ="date" formControlName="day" required>
      
        <!-- <mat-form-field [formControl]="this.dayControl" appearance="fill">
            <mat-label>Data</mat-label>
            <input matInput type = "date" formControlName="day">
          </mat-form-field>  -->
    </div>

    <div>
        <label for="hour">Hora</label><br>
        <input id="hour" type ="time" formControlName="hour" required>
        <!-- <mat-form-field [formControl]="this.hourControl" appearance="fill">
            <mat-label>Hora</mat-label>
            <input matInput type="time" formControlName="hour">
        </mat-form-field> -->
    </div>
    <button type="submit">Cadastrar novo jogo</button>
</form>