<mat-expansion-panel hideToggle *ngIf="game" [ngStyle]="{backgroundColor: getColor()}">
  <mat-expansion-panel-header>
    <mat-panel-title [ngClass]="{'vitoria': this.game.vitoria}">
      <mat-checkbox [checked]="game.vitoria" (change)="changeStatus()"
        (click)="$event.stopPropagation()"></mat-checkbox>
      {{this.game.title}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><b>Data:</b> {{this.game.day | date: "dd/MM/yyyy"}}</li>
    <li><b>Hora:</b> {{this.game.hour}}</li>
    <li *ngIf="game.result"><b>Resultado:</b> {{this.game.result}}</li>
    <li *ngIf="game.vitoria != undefined"><b>Vitória:</b> {{this.game.vitoria | vitoria }}</li>
  </ul>
  <button mat-raised-button color="primary" (click)="openDialog()">Atualizar</button>
  <button mat-raised-button color="warn" (click)="deleteItem()">Remover</button>

  <ng-template #dialogTemplate>
    <app-dialog>
      <app-game-form requestType="update" [newGame]="game"></app-game-form>
    </app-dialog>
  </ng-template>

</mat-expansion-panel>

<mat-expansion-panel hideToggle>

  