
<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Brasil x Sérvia
      </mat-panel-title>
</mat-expansion-panel-header>
<ul>
    <li><b>Data:</b> 24/11/2022</li>
    <li><b>Hora:</b> 16:00</li>
    <li><b>Resultado:</b> 2 x 0</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Brasil x Suíça
      </mat-panel-title>
</mat-expansion-panel-header>
<ul>
    <li><b>Data:</b> 28/11/2022</li>
    <li><b>Hora:</b> 13:00</li>
    <li><b>Resultado:</b> 1 x 0</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Brasil x Gana
      </mat-panel-title>
</mat-expansion-panel-header>
<ul>
    <li><b>Data:</b> 02/12/2022</li>
    <li><b>Hora:</b> 16:00</li>
    <li><b>Resultado: </b>0 x 1</li>
  </ul>
</mat-expansion-panel> 